body {
    background-color: #f8f9fa; 
}

.container {
    margin-top: 50px;
}

.card {
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card-title {
    color: #007bff; 
    font-weight: bold; 
}

.card-text {
    color: #000000; 
    font-size:19px;
    font-weight:bold;

}

.text-muted {
    color: #000000; 
}
.mt-4mb-4{

    background-color:bisque;

}
.card-body{
    background-color:beige;
}